{
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "all",
	"svelteSortOrder": "options-scripts-styles-markup",
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
