package comp

templ linkTo(href string) {
	<a
 		class="text-cyan-500 hover:text-cyan-600 active:text-cyan-700 transition-all"
 		href={ href }
	>
		{ children... }
	</a>
}

templ linkButton(onclick templ.ComponentScript) {
	<a
 		class="text-cyan-500 hover:text-cyan-600 active:text-cyan-700 transition-all"
 		href=""
 		onclick={ onclick }
	>
		{ children... }
	</a>
}
